.MileageSelector {
  height: 260px;
  background: #F3F3F3;
  padding-top: 30px;
}

.MileageSelector .Heading {
  margin: 0;
  margin-bottom: 30px;
}

.MileageSelector .selectric-Dropdown {
  width: 225px;
  margin: 0 auto;
}
