.BenefitsSection {
  background-color: #fff;
  padding: 24px;
  padding-bottom: 70px;
  @include clearfix;
  @media #{$tablet} {
    padding: 50px 40px 60px;
  }
  @media #{$laptop} {
    padding: 80px 130px 130px;
  }
}

.BenefitsSection-image {
  padding: 20px 0 30px;
  img { width: 100%; }
  @media #{$tablet} {
    float: left;
    width: 50%;
    padding-top: 0;
    padding-right: 30px;
  }
  @media #{$laptop} {
    padding-right: 60px;
  }
}

.BenefitsSection-copy {
  .Heading {
    font-size: 20px;
    margin-bottom: 30px;
  }
  @media #{$tablet} {
    float: right;
    width: 50%;
    padding-left: 30px;
  }
  @media #{$laptop} {
    .Heading { font-size: 28px; }
  }
}
