.BigImage {
  margin: 0;
  position: relative;
  min-height: 314px;
  overflow: hidden;
}

// Top gradient
.BigImage:after {
  content: "";
  display: block;
  width: 100%;
  height: 200px;
  background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(0,0,0,0) 100%);
  opacity: .4;
  position: absolute;
  top: 0;
  left: 0;
}

.BigImage-text {
  position: absolute;
  z-index: 1;
  margin: 0;
  padding: 34px;
  padding-top: 30px;
}

.BigImage-heading {
  margin: 0;
  margin-bottom: 10px;
}

.BigImage-cta {
  font-size: 13px;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
  &:hover { text-decoration: underline; }
  &:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 10px;
    background-image: url(/images/caret-right.png);
    background-size: 6px;
    background-repeat: no-repeat;
    margin-left: .5em;
    position: relative;
    top: .07em;
  }
}

@media #{$tablet}  {
  .BigImage { min-height: 398px; }
  .BigImage-text { padding-top: 40px; padding-left: 96px; }
}

@media #{$laptop}  {
  .BigImage { min-height: 625px; }
  .BigImage-cta { font-size: 15px; }
  .BigImage-cta:after {
    width: 7px;
    height: 12px;
    background-size: 7px;
    top: .1em;
  }
  .BigImage-text { padding-top: 50px; padding-left: 140px; }
}

@media #{$desktop} {
  .BigImage { min-height: 700px; }
}
