$buttonHeight: 55px;

.Button {
  display: inline-block;
  height: $buttonHeight;
  text-align: center;
  appearance: none;
  border: 0;
  background-color: $green;
  border-radius: 4px;
  color: #fff;
  font-size: 15px;
  font-family: $font-family;
  font-weight: 400;
  letter-spacing: .025em;
  line-height: $buttonHeight*.925;
  width: auto;
  padding: 0 $buttonHeight;
  box-shadow: inset 0 -2px 0 0 $darkGreen;
  outline: 0;
  transition: background-color .2s ease;
}

.Button:hover,
.Button:focus {
  background-color: $lightGreen;
  cursor: pointer;
  box-shadow: inset 0 -2px 0 0 #21A57D;
}

.Button--fullWidth {
  width: 100%;
}
