.Footer {
  background-color: #fff;
  padding: 30px;
  @media #{$tablet} { padding: 40px; }
  @media #{$laptop} {
    padding: 70px 0 60px;
    min-height: 275px;
  }
}

.Footer-inner {
  @media #{$laptop} {
    width: 1180px;
    margin: 0 auto;
  }
}

.Footer-contactInfo .Heading {
  @extend .Heading--medium;
  @extend .Heading--black;
  @media #{$tablet} {
    margin-top: 0;
    font-size: 14px !important;
  }
}

.Footer-contactInfo {
  text-align: center;
  font-size: 16px;
  line-height: 28px;
  color: #787878;
  margin-bottom: 50px;
  p { margin: 0; }
  a {
    color: #787878;
    text-decoration: none;
    &:hover, &:focus { text-decoration: none; color: #000; }
  }
  @media #{$tablet} {
    float: left;
    width: 50%;
    text-align: left;
    font-size: 12px;
    line-height: 21px;
  }
}

.Footer-contactInfoSection {
  margin-bottom: 28px;
  @media #{$laptop} {
    display: inline-block;
    margin-right: 60px;
  }
}

.Footer-signature {
  @media #{$tablet} {
    float: right;
    width: 160px;
  }
  @media #{$laptop} {
    width: 50%;
    text-align: right;
  }
}

.Footer-signature .selectric-Dropdown,
.Footer-signature .Dropdown {
  max-width: 212px;
  margin: 0 auto 46px;
  @media #{$tablet} {
    max-width: 160px;
    margin-bottom: 40px;
  }
  @media #{$laptop} {
    display: inline-block;
    margin: 0;
    width: 200px;
    text-align: left;
    position: relative;
    top: -10px;
  }
}

.Footer-signature .Logo {
  margin: 0 auto 46px;
  @media #{$laptop} {
    display: inline-block;
    margin: 0 0 0 100px;
    position: relative;
    top: 10px;
  }
}
