.PackageSelector {
  background-color: #F3F3F3;
  padding-bottom: 400px;
}

.PackageSelector-heading {
  text-align: center;
  padding-top: 50px;
  margin: 0;
  margin-bottom: 34px;
}

.PackageSelector-optionHeader {
  background: #fff;
  border-top: 1px solid #E5E5E5;
  border-bottom: 1px solid #E5E5E5;
  margin-bottom: -1px;
}

.PackageSelector-optionDetails {
  max-height: 0;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  transition: max-height .4s ease;
}

.PackageSelector-optionDetails ul li {
  opacity: 0;
  transform: scale3d(.75, .75, .75);
  transform-origin: left;
}

// Open state
.PackageSelector-option.is-open .PackageSelector-optionDetails {
  max-height: 1000px;
  ul li {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}

// Add a transition delay to each list item
@for $i from 1 through 30 {
  $transitionDelay: (($i*25)+0);
  .PackageSelector-optionDetails ul li:nth-child(#{$i}) {
    transition: opacity   .2s ease #{$transitionDelay}ms,
                transform .2s ease #{$transitionDelay}ms;
  }
}
