.Paragraph {
  font-weight: 300;
}

.Paragraph > a {
  color: $lightBlue;
  font-weight: 400;
  text-decoration: none;
  &:hover {
    color: $lighterBlue;
  }
}

.Paragraph--large  { font-size: 16px; line-height: 26px; }
.Paragraph--medium { font-size: 15px; line-height: 25px; }
.Paragraph--small  { font-size: 12px; line-height: 20px; }

@media #{$laptop} {
  .Paragraph--large  { font-size: 20px; line-height: 34px; }
  .Paragraph--medium { font-size: 18px; line-height: 28px; }
}

// Colors
.Paragraph--white    { color: #fff; }
.Paragraph--black    { color: #000; }
.Paragraph--darkGray { color: #7C7C7C; }

// Weights
.Paragraph--bold    { font-weight: 700; }
.Paragraph--regular { font-weight: 400; }
.Paragraph--light   { font-weight: 300; }
