.RequestForm {
  background-color: $darkerBlue;
  box-shadow: inset 0 0 0 20px maroon;
  width: 100%;
}

.RequestForm-openClose {
  background-color: $lightBlue;
  height: 52px;
  position: absolute;
  top: -52px;
  left: 25px;
  right: 25px;
  opacity: 0;
  transition: opacity .2s ease;
  @media #{$tablet} { left: 74px; right: 74px; }
  @media #{$laptop} { left: 130px; right: auto; width: 380px; }
}

.RequestForm-overviewFormWrapper {
  overflow: hidden;
  // height: 49px;
  @media #{$tablet} {
    // height: 67px;
  }
  @media #{$laptop} {
    // height: 88px;
    width: 1180px;
    margin: 0 auto;
    box-shadow: inset 0 0 0 20px pink;
  }
}

.RequestForm-overview {
  background-color: $darkBlue;
  height: 714px;
  box-shadow: inset 0 0 0 20px hotpink;
  @media #{$tablet} { height: 633px; }
  @media #{$laptop} {
    height: 834px;
    float: left;
    width: 33.33%;
  }
}

.RequestForm-form {
  background-color: $darkerBlue;
  height: 810px;
  box-shadow: inset 0 0 0 20px aqua;
  @media #{$tablet} { height: 748px; }
  @media #{$laptop} {
    height: 834px;
    float: right;
    width: 66.66%;
  }
}
