.Upload-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.Upload-input + .Upload-button {
  @extend .Button;
  width: 100%;
  line-height: 55px;
  background-color: #9B9B9B;
  box-shadow: inset 0 -2px 0 0 #8D8D8D;
  padding: 0 0 0 20px;
  text-align: left;
  position: relative;
}

// Icon
.Upload-button:after {
  content: "";
  display: block;
  width: 21px;
  height: 21px;
  background-image: url(/images/circular-arrow-up.png);
  background-repeat: no-repeat;
  background-size: 21px;
  background-position: center right;
  position: absolute;
  top: 17px;
  right: 17px;
}

.Upload-input:focus + .Upload-button,
.Upload-input + .Upload-button:hover {
  background-color: #BABABA;
  box-shadow: inset 0 -2px 0 0 #A5A5A5;
  cursor: pointer;
}

.Upload-list {
  margin-top: 10px;
  font-size: 14px;
  span { color: #fff; }
}

.Upload-listRemove {
  display: none;
  text-decoration: underline;
  color: #B1B1B1;
  margin-left: .75em;
  margin-bottom: 1em;
}
