<div class='BenefitsSection'>
  <div class="BenefitsSection-inner">

    <div class="BenefitsSection-image">
      <img src="{{site.basepath}}/images/ford-c-max-2.jpg">
    </div>

    <div class="BenefitsSection-copy">
      <h2 class="Heading Heading--medium Heading--darkGray">Fordele ved privatleasing</h2>
      <p class="Paragraph Paragraph--darkGray Paragraph--medium">Hvis du er træt af værkstedsregninger, forhandling af pris ved køb af ny bil og ikke mindst bekymret for at få den rigtige pris for din gamle bil - så er Ford Privatleasing noget for dig. Du får en attraktiv løsning, hvor du betaler en fast månedspris, der dækker de reelle omkostninger, som er forbundet med at køre i en personbil.</p>
    </div>

  </div>
</div>
