<div class='ColorSelector'>

  <h2 class="ColorSelector-heading Heading Heading--darkGray Heading--medium">Vælg farve</h2>

  <form>

    <div class="ColorSelector-color" data-color="#000000" data-color-name="Midnight puddle">
      <label for="black">Black</label>
      <input id="black" type="radio" name="color" value="black">
    </div>

    <div class="ColorSelector-color" data-color="#747474" data-color-name="Gray granite">
      <label for="darkGray">Dark gray</label>
      <input id="darkGray" type="radio" name="color" value="darkGray" checked>
    </div>

    <div class="ColorSelector-color" data-color="#F0F0F0" data-color-name="Milkyway">
      <label for="lightGray">Light gray</label>
      <input id="lightGray" type="radio" name="color" value="lightGray">
    </div>

    <div class="ColorSelector-color" data-color="#C64747" data-color-name="Candy apple">
      <label for="red">Red</label>
      <input id="red" type="radio" name="color" value="red">
    </div>

  </form>

</div>
