<div class='FeatureSelector'>

  <h2 class="FeatureSelector-heading Heading Heading--darkGray Heading--medium">Vælg udstyr</h2>

  <form class="FeatureSelector-form">

    <div class="FeatureSelector-option">
      <input id="navigation" type="checkbox" name="navigation" value="navigation">
      <label for="navigation">Navigation</label>
      <div class="FeatureSelector-optionKey">Navigation</div>
      <div class="FeatureSelector-optionValue">28 kr./md.</div>
    </div>

    <div class="FeatureSelector-option">
      <input id="bluetooth" type="checkbox" name="bluetooth" value="bluetooth">
      <label for="bluetooth">Bluetooth</label>
      <div class="FeatureSelector-optionKey">Bluetooth</div>
      <div class="FeatureSelector-optionValue">78 kr./md.</div>
    </div>

    <div class="FeatureSelector-option">
      <input id="navigaisofixtion" type="checkbox" name="navigaisofixtion" value="navigaisofixtion">
      <label for="navigaisofixtion">NavigaIsofixtion</label>
      <div class="FeatureSelector-optionKey">NavigaIsofixtion</div>
      <div class="FeatureSelector-optionValue">125 kr./md.</div>
    </div>

    <div class="FeatureSelector-option">
      <input id="parking-assistent" type="checkbox" name="parking-assistent" value="parking-assistent">
      <label for="parking-assistent">Parking assistent</label>
      <div class="FeatureSelector-optionKey">Parking assistent</div>
      <div class="FeatureSelector-optionValue">136 kr./md.</div>
    </div>

  </form>

</div>
