<div class='Footer'>
  <div class="Footer-inner">

    <div class="Footer-contactInfo">
      <h4 class="Heading">Kontakt</h4>
      <div class="Footer-contactInfoSection">
        <p>ALD Automotive</p>
        <p>Helgeshøj Allé 34,2630 Taastrup</p>
      </div>
      <div class="Footer-contactInfoSection">
        <p>E: <a href="mailto:leasing@ald.dk">leasing@ald.dk</a></p>
        <p>T: 3355 8000</p>
      </div>
    </div>

    <div class="Footer-signature">
      <select class="Dropdown Dropdown--small Dropdown--hideFirstOption" tabindex="0">
        <option data-href="{{site.basepath}}/ford-focus" value="modeller">Modeller</option>
        <option data-href="{{site.basepath}}/ford-focus" value="focus">Focus</option>
        <option data-href="{{site.basepath}}/ford-focus" value="cmax">C-Max</option>
        <option data-href="{{site.basepath}}/ford-focus" value="kuga">Kuga</option>
      </select>
      <div class='Logo Logo--large'>
        <a href="#"></a>
      </div>
    </div>

  </div>
</div>
