<header class='Header'>
  <div class="Header-inner">

    {% include 'partials/Logo.html' %}

    <div class="Header-nav">
      <select class="Dropdown Dropdown--small Dropdown--hideFirstOption" tabindex="0">
        <option data-href="{{site.basepath}}/ford-focus" value="modeller">Modeller</option>
        <option data-href="{{site.basepath}}/ford-focus" value="focus">Focus</option>
        <option data-href="{{site.basepath}}/ford-focus" value="cmax">C-Max</option>
        <option data-href="{{site.basepath}}/ford-focus" value="kuga">Kuga</option>
      </select>

      <a class="Header-contact" href="#">Contact</a>
    </div>

  </div>
</header>
