<div class='ImageHero'>

  <div class="ImageHero-image" data-background-image="{{site.basepath}}/images/some-ford.jpg"></div>

  <div class="ImageHero-copy">
    <h1 class="Heading Heading--darkGray"><b>Ford Focus 1.6 TDI</b> Fra 2.995 kr./md.</h1>
    <p>Nogle mennesker vil mene, at man ikke skal ændre noget, der i forvejen er godt. Hos Ford foretrækker vi derimod at tage noget, der i forvejen er fremragende, og gøre det endnu bedre. Det er for eksempel tilfældet med den nyeste generation af den velkendte og elskede Ford Focus.</p>
  </div>

</div>
