<div class='MileageSelector'>
    <h2 class="ColorSelector-heading Heading Heading--darkGray Heading--medium">Vælg kilometer pr. år</h2>

    <select class="Dropdown Dropdown--large Dropdown--shadow Dropdown--lightBorder" tabindex="0">
      <option value="15000">15.000</option>
      <option value="20000">20.000</option>
      <option value="25000">25.000</option>
      <option value="30000">30.000</option>
      <option value="35000">35.000</option>
      <option value="40000">40.000</option>
    </select>
</div>
