<div class='ModelSelectorSection'>
  {% include 'partials/ModelSelector.html' %}

  <div class="ModelSelectorSection-info">

    <div class="ModelSelectorSection-conditions">
      <h2 class="Heading Heading--medium Heading--darkGray">Ford Privat leasing betingelser</h2>
      <p>Privatleasing via Ford Privatleasing. Leasingydelserne er faste og inklusive serviceaftale, finansierings- og leveringsomkostninger og moms. Leasingaftalen er godkendt af FDM. Positiv kreditgodkendelse forudsættes. Tilbuddet gælder, så længe lager haves – dog skal bilen indregistreres senest 30/9 2017.  Tilbuddet kan ikke kombineres med øvrige tilbud.  Ved leasingperiodens udløb returneres bilen til Ford Privatleasing. Der tages forbehold for pris- og afgiftsændringer samt trykfejl. Billedet er modelfoto, og bilen kan være vist med ekstraudstyr. Kaskoforsikring og betaling via NETS er påkrævet. Ydelserne er ekskl. dæk, grøn ejerafgift, forsikring og brændstof.</p>
    </div>

    <div class="ModelSelectorSection-dropdown"></div>
  </div>

</div>
