<div class='PackageSelector'>

  <h2 class="PackageSelector-heading Heading Heading--darkGray Heading--medium">Vælg udstyrspakke</h2>

  <form>

    <div class="PackageSelector-option">
      <div class="PackageSelector-optionHeader">
        <label for="st-line">ST Line</label>
        <input id="st-line" type="radio" name="package" value="st-line">
        <h3>ST-Line</h3>
        <div class="Caret Caret--down"></div>
      </div>
      <div class="PackageSelector-optionDetails">
        <ul>
          <li>Klapbare sidespejle</li>
          <li>17" alufælge</li>
          <li>Navigation</li>
          <li>Xenon forlygter</li>
          <li>LED baglygter</li>
          <li>Multifunktionslæderrat</li>
          <li>Bluetooth interface</li>
          <li>Fartpilot</li>
          <li>Varme og elektrisk lændestøtte i forsæder</li>
          <li>Ford music interface</li>
          <li>Fjernlysassistent</li>
          <li>Automatisk nedblændeligt bakspejl</li>
          <li>Blanke rudelister</li>
          <li>Bak sensor</li>
        </ul>
      </div>
    </div>

    <div class="PackageSelector-option">
      <div class="PackageSelector-optionHeader">
        <label for="trend">Trend</label>
        <input id="trend" type="radio" name="package" value="trend">
        <h3>Trend</h3>
        <div class="Caret Caret--down"></div>
      </div>
      <div class="PackageSelector-optionDetails">
        <ul>
          <li>Klapbare sidespejle</li>
          <li>17" alufælge</li>
          <li>Xenon forlygter</li>
          <li>Multifunktionslæderrat</li>
          <li>Bluetooth interface</li>
          <li>Fartpilot</li>
          <li>Varme og elektrisk lændestøtte i forsæder</li>
          <li>Fjernlysassistent</li>
          <li>Automatisk nedblændeligt bakspejl</li>
          <li>Bak sensor</li>
        </ul>
      </div>
    </div>

    <div class="PackageSelector-option">
      <div class="PackageSelector-optionHeader">
        <label for="fun">Fun</label>
        <input id="fun" type="radio" name="package" value="fun">
        <h3>Fun</h3>
        <div class="Caret Caret--down"></div>
      </div>
      <div class="PackageSelector-optionDetails">
        <ul>
          <li>17" alufælge</li>
          <li>Navigation</li>
          <li>Xenon forlygter</li>
          <li>LED baglygter</li>
          <li>Multifunktionslæderrat</li>
          <li>Bluetooth interface</li>
          <li>Varme og elektrisk lændestøtte i forsæder</li>
          <li>Ford music interface</li>
          <li>Automatisk nedblændeligt bakspejl</li>
          <li>Blanke rudelister</li>
          <li>Bak sensor</li>
        </ul>
      </div>
    </div>

    <div class="PackageSelector-option">
      <div class="PackageSelector-optionHeader">
        <label for="titanium">Titanium</label>
        <input id="titanium" type="radio" name="package" value="titanium">
        <h3>Titanium</h3>
        <div class="Caret Caret--down"></div>
      </div>
      <div class="PackageSelector-optionDetails">
        <ul>
          <li>Fjernlysassistent</li>
          <li>17" alufælge</li>
          <li>Xenon forlygter</li>
          <li>Multifunktionslæderrat</li>
          <li>Bak sensor</li>
          <li>Klapbare sidespejle</li>
          <li>Fartpilot</li>
          <li>Varme og elektrisk lændestøtte i forsæder</li>
          <li>Bluetooth interface</li>
          <li>Automatisk nedblændeligt bakspejl</li>
        </ul>
      </div>
    </div>

  </form>

</div>
