<div class='RequestForm'>

  <div class="RequestForm-openClose">
    <h3><b>Ford Focus</b>, 1.6 TDI, manuel</h3>
    <div class="Caret Caret--down Caret--small Caret--white"></div>
  </div>

  <div class="RequestForm-overviewFormWrapper">

    <div class="RequestForm-overview">

      <div class="RequestForm-overviewHeader">
        <div class="RequestForm-overviewPrice">2.995 kr./md.</div>
        <div class="RequestForm-overviewPriceDetails">
          <p>Udbetaling: 6.995 kr. Leasingperiode: 36 md.</p>
          <p>Årligkørsel: 10.000 km. Samlet betaling i perioden: 104.015 kr.</p>
        </div>
      </div>

      <div class="RequestForm-configuration">
        <h3 class="Heading Heading--white Heading--bold">Din konfiguration:</h3>
        <ul>
          <li class="mileage"></li>
          <li class="color"></li>
          <li class="package"></li>
        </ul>
      </div>

      <div class="RequestForm-coupon">
        <div class="Coupon">
          <label class="Coupon-label" for="coupon">Har du en rabat kode?</label>
          <input class="Field Coupon-field" type="text" name="coupon">
          <button class="Button Coupon-button">Anvend</button>
        </div>
      </div>

      <div class="RequestForm-smallPrint">
        Privatleasing via Ford Privatleasing. Leasingydelserne er faste og inklusive serviceaftale, finansierings- og leveringsomkostninger og moms. Leasingaftalen er godkendt af FDM. Positiv kreditgodkendelse forudsættes. Tilbuddet gælder, så længe lager haves – dog skal bilen indregistreres senest 30/9 2017. Tilbuddet kan ikke kombineres med øvrige tilbud. Ved leasingperiodens udløb returneres bilen til Ford Privatleasing. Der tages forbehold for pris- og afgiftsændringer samt trykfejl. Billedet er modelfoto, og bilen kan være vist med ekstraudstyr. Kaskoforsikring og betaling via NETS er påkrævet. Ydelserne er ekskl. dæk, grøn ejerafgift, forsikring og brændstof.
      </div>

    </div>

    <div class="RequestForm-form">
      <h3 class="RequestForm-formHeading Heading Heading--white Heading--medium">Send en forspørgsel på din kommende bil</h3>
      <p class="RequestForm-formExplainer">Udfyld oplysninger nedenfor og vi vil sende dig en PDF med oplysninger om Ford PrivatLeasing. En sælger vil vende tilbage til dig snarest muligt.</p>
      <form>
        <input class="Field Field--marginBottom" type="text" placeholder="Dit navn">
        <input class="Field Field--marginBottom" type="text" placeholder="Adresse">
        <div class="FieldGroup FieldGroup--zipCity">
          <input class="Field Field--marginBottom Field--zipCode" type="number" placeholder="Postnummer">
          <input class="Field Field--marginBottom Field--city" type="text" placeholder="By">
        </div>
        <input class="Field" type="email" placeholder="Email">
        <div class="Divider"></div>
        <div class="Upload">
          <input type="file" name="file" id="file" class="Upload-input" data-multiple-caption="{count} files selected" multiple />
          <label for="file" class="Upload-button">Upload kørekort eller pas</label>
          <div class="Upload-list"><span></span><a href="#" class="Upload-listRemove">Fjern</a></div>
        </div>
        <div class="Divider"></div>
        <button class="Button">Send forespørgsel</button>
      </form>
    </div>

  </div>

</div>
