// Typography
$font-family: Antenna, sans-serif;

// Colors
$black: #000000;
$darkBlue: #19315B;
$darkerBlue: #12274B;
$blue: #1A6B95;
$lightBlue: #2D96CD;
$lighterBlue: #38AFED;
$darkGray: #656A72;
$lightGray: #E8E8E8;
$lightGreen: #2DDBA8;
$green: #00B681;
$darkGreen: #008931;

// Screen sizes
$smallScreen:    414px;
$mediumScreen:   768px;
$largeScreen:   1300px;
$xLargeScreen:  1600px;
$xxLargeScreen: 1900px;

// Media queries
$phone:        (only screen and (max-width:#{$smallScreen}));
$tablet:       (only screen and (min-width:#{$mediumScreen}));
$laptop:       (only screen and (min-width:#{$largeScreen}));
$desktop:      (only screen and (min-width:#{$xLargeScreen}));
$largeDesktop: (only screen and (min-width:#{$xxLargeScreen}));

// Sizes
$maxContentWidth: 1260px;
$maxSiteWidth: 1440px;
$pageWrapperWidth: 1600px;
