{% extends 'layouts/default.html' %}
{% block cssfilename %}main-ford{% endblock %}
{% block content %}

  <div class="PageWrapper">
    {% include 'partials/Header.html' %}
    {% include 'partials/ImageHero.html' %}
    <div class="Configurator">
      {% include 'partials/ConfiguratorTitle.html' %}
      {% include 'partials/MileageSelector.html' %}
      {% include 'partials/ColorSelector.html' %}
      {% include 'partials/PackageSelector.html' %}
      {% include 'partials/FeatureSelector.html' %}
    </div>
    <div class="RequestFormFooterWrapper">
      {% include 'partials/RequestForm.html' %}
      {% include 'partials/Footer.html' %}
    </div>
  </div>

{% endblock %}
