{% extends 'layouts/default.html' %}
{% block content %}

  <div class="ComponentList">

    <h1 class="Heading Heading--huge Heading--white ComponentList-heading">Components</h1>

    {% include 'partials/Logo.html' %}

    {% import "macros/headings.html" as Heading %}
    {{ Heading.large('Large heading') }}
    {{ Heading.medium('Medium heading') }}
    {{ Heading.small('Small heading') }}
    {{ Heading.tiny('Tiny heading') }}

    {{ Heading.large('Large gray heading', 'Heading--darkGray') }}
    {{ Heading.medium('Medium gray heading', 'Heading--darkGray') }}
    {{ Heading.small('Small gray heading', 'Heading--darkGray') }}
    {{ Heading.tiny('Tiny gray heading', 'Heading--darkGray') }}

    {{ Heading.large('Large gray and bold heading', 'Heading--darkGray Heading--bold') }}
    {{ Heading.medium('Medium gray and bold heading', 'Heading--darkGray Heading--bold') }}
    {{ Heading.small('Small gray and bold heading', 'Heading--darkGray Heading--bold') }}
    {{ Heading.tiny('Tiny gray and bold heading', 'Heading--darkGray Heading--bold') }}

    <p class="Paragraph Paragraph--small Paragraph--darkGray">Privatleasing via Ford Privatleasing. <a href="#">Leasingydelserne</a> er faste og inklusive serviceaftale, finansierings- og leveringsomkostninger og moms. Leasingaftalen er godkendt af FDM. Positiv kreditgodkendelse forudsættes. Tilbuddet gælder, så længe lager haves – dog skal bilen indregistreres senest 30/9 2017.</p>
    <p class="Paragraph Paragraph--medium Paragraph--darkGray">Privatleasing via Ford Privatleasing. <a href="#">Leasingydelserne</a> er faste og inklusive serviceaftale, finansierings- og leveringsomkostninger og moms. Leasingaftalen er godkendt af FDM. Positiv kreditgodkendelse forudsættes. Tilbuddet gælder, så længe lager haves – dog skal bilen indregistreres senest 30/9 2017.</p>
    <p class="Paragraph Paragraph--large Paragraph--darkGray">Privatleasing via Ford Privatleasing. <a href="#">Leasingydelserne</a> er faste og inklusive serviceaftale, finansierings- og leveringsomkostninger og moms. Leasingaftalen er godkendt af FDM. Positiv kreditgodkendelse forudsættes. Tilbuddet gælder, så længe lager haves – dog skal bilen indregistreres senest 30/9 2017.</p>

    <div class='Caret'></div>
    <div class='Caret Caret--right'></div>
    <div class='Caret Caret--down'></div>
    <div class='Caret Caret--up'></div>

    <select class="Dropdown Dropdown--small Dropdown--hideFirstOption" tabindex="0">
      <option value="label">Small white dropdown</option>
      <option value="janella">Janella</option>
      <option value="beckeisha">Beckeisha</option>
      <option value="camillou">Camillou</option>
    </select>

    <select class="Dropdown Dropdown--medium Dropdown--hideFirstOption" tabindex="0">
      <option value="label">Medium white dropdown</option>
      <option value="janella">Janella</option>
      <option value="beckeisha">Beckeisha</option>
      <option value="camillou">Camillou</option>
    </select>

    <select class="Dropdown Dropdown--large Dropdown--shadow Dropdown--lightBorder Dropdown--hideFirstOption" tabindex="0">
      <option value="label">Large white dropdown with shadow</option>
      <option value="janella">Janella</option>
      <option value="beckeisha">Beckeisha</option>
      <option value="camillou">Camillou</option>
    </select>

    <select class="Dropdown Dropdown--medium Dropdown--blue Dropdown--boldLabel Dropdown--hideFirstOption" tabindex="0">
      <option value="label">Medium blue dropdown</option>
      <option value="janella">Janella</option>
      <option value="beckeisha">Beckeisha</option>
      <option value="camillou">Camillou</option>
    </select>

    <button class="Button Button--fullWidth">Full width button</button>
    <button class="Button">Auto width button</button>

    <div class="Upload">
      <input type="file" name="file" id="file" class="Upload-input" data-multiple-caption="{count} files selected" multiple />
      <label for="file" class="Upload-button">Upload kørekort eller pas</label>
      <div class="Upload-list"><span></span><a href="#" class="Upload-listRemove">Fjern</a></div>
    </div>

    <form style="background-color: #19315B; padding: 30px 30px 16px;">
      <input class="Field" type="text" placeholder="Text field...">
      <input class="Field" type="text" placeholder="Text field..." value="Filled out field">
      <input class="Field is-error" type="text" placeholder="Text field..." value="Filled out field with error">
    </form>

    <figure class="BigImage" data-background-image="{{site.basepath}}/images/ford-c-max.jpg">
      <div class="BigImage-text">
        <h2 class="BigImage-heading Heading--large Heading--white"><b>Ford C-Max</b> Fra 3.985 kr./md.</h2>
        <a class="BigImage-cta" href="#">Beregn pris her</a>
      </div>
    </figure>

    {% include 'partials/Header.html' %}

    {% include 'partials/Title.html' %}

    {% include 'partials/Swiper.html' %}

    {% include 'partials/ModelSelector.html' %}

    {% include 'partials/ColorSelector.html' %}

    {% include 'partials/PackageSelector.html' %}

    {% include 'partials/FeatureSelector.html' %}

    <div class="RequestFormFooterWrapper">
      {% include 'partials/RequestForm.html' %}
      {% include 'partials/Footer.html' %}
    </div>

  </div>
{% endblock %}
