<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{site.title}}</title>
  <link rel="icon" type="image/png" sizes="32x32" href="{{site.basepath}}/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{site.basepath}}/favicon-16x16.png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <link rel="stylesheet" href="{{site.basepath}}/css/{% block cssfilename %}main-default{% endblock %}.css">
</head>
<body class="App">
  {% block content %}{% endblock %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/jquery.min.js"><\/script>')</script>
  <script src="{{site.basepath}}/app.js"></script>
  <script type="text/javascript">
    // Trigger this when needed. Just need to happen after the app.js file.
    // var triggerJavascriptLoadEvent = new Event('trigger-load');
    // window.dispatchEvent(triggerJavascriptLoadEvent)
  </script>
</body>
</html>
